body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

/* Header */

/* Logo */

.logo_web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #2196f3;
}

.logo_studio {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
}

/* Navigation */

.studio {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #2196f3;
}

.portfolio {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #212121;
}

.contacs {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #212121;
}

/* Top line */

.mail {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #2196f3;
}

.tel {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #757575;
}

/* Section */

.button_active {
}

.button_text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #ffffff;
}

.button_text_list {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #212121;
}

.about_text {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: #212121;
}

.about_text_link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #757575;
}

/* Footer */

.footer {
  background: #2f303a;
}

.navigation {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #ffffff;
}

.mail_footer {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.tel_footer {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}



