html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

.list,
li {
  list-style: none;
}

.list {
  padding: 0px;
  margin: 0px;
}

.body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* .educetion {
  width: 1600px;
  border-color: #000000;
  outline: #2196f3;
} */

.main_educetion {
}

.section {
  /* margin: 94px 215px; */
  border: 1px solid aqua;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
  text-align: center;
}

/* Header */

.header {
  /* margin: 0; */
}

/* Navigation */

.header_navi {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: 93px;
}

.header_list .item {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: tomato;
}

.header_list .item + .item {
  margin-left: 50px;
}

.header_list {
  display: flex;
}

/* <!--Top Line--> */

.out_list {
  display: flex;
  margin-left: auto;
}

.out_list .item + .item {
  margin-left: 50px;
}

.web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #2196f3;
}

.webstudio {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
}

.studio {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #2196f3;
}

.portfolio {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #212121;
}

.contacs {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #212121;
}

/* Top line */

.mail {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #2196f3;
}

.tel {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #757575;
}

/* Hero */

.hero {
  margin: 0px;
  background: #2f303a;
  margin-bottom: 90px;
}

.main_class {
  padding-bottom: 120px;
}

.hero_title {
  font-size: 44px;
  line-height: calc(60 / 44);
  color: #ffffff;
}

.hero_btm {
  border-radius: 4px;
  padding: 10px 32px;
  border: #2196f3;
  min-width: 216px;
  background-color: #2196f3;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.button_text {
  width: 152px;
  height: 30px;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #fff;
  display: inline-block;
}

/* Description */

.description {
  padding: 0;
}

.conteiner > .description_title:not(:first-child) {
  margin-right: 10px;
}

.description_title {
  width: 270px;
  display: inline-block;
}

.description-list {
  /* padding-top: 20px; */
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #212121;
  display: inline;
}

.coment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

/* About */

.about_conteiner {
}

.about-work {
  margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: #212121;
}
.about_img {
  display: inline-block;
  flex-basis: calc((100% - 370px) / 3);
}

/* Our team */

.conteiner_our {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex_conteiner {
  display: flex;
  flex-wrap: wrap;
  background-color: #2196f3;
}

.section_team {
  margin: auto;
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #f5f4fa;
}

.conteiner_team {
  width: 270px;
  margin-left: 30px;
  background-color: #ffffff;
}

.section_team .conteiner_team:not(:last-child) {
  margin-left: 0px;
}

.team_tekst {
  margin-top: 94px;
  margin-bottom: 94px;
  text-align: center;
}

.user_team {
  display: flex;
  flex-wrap: wrap;
  background-color: #2196f3;
}
/*
.team_img {
  display: inline-block;
  flex-basis: calc((100% - 270px) / 4);
}
.our_img {
  margin: 30px;
  background-color: #fff;
} */

.name {
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #212121;
}

.team_work {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #757575;
}

/* Section Portfolio */

.section_portfolio {
  background-color: yellow;
}

.conteiner_portfolio {
  min-width: 1170px;
  background-color: yellow;
  display: inline;
  flex-direction: row;
}

.list_portfolio {
  /* display: inline;
  flex-direction: row; */
}

.button_listen {
  width: 73px;
  height: 38px;
  background-color: #2196f3;
  border: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.button_active {
  width: 23px;
  height: 26px;
  color: #fff;
}

.button_portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #212121;
  border-radius: 4px;
  border: #212121;
  cursor: pointer;
}

.about_name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: #212121;
}

.about_text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #757575;
}

/* Footer */

.footer {
  background: #2f303a;
}

.navigation {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #ffffff;
}

.footer_mail {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.footer_tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}
